* {
  box-sizing: border-box;
}

:root {
  background: #242424;
}

body,
#app {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.app {
  width: 100%;
  max-width: 600px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  max-width: 500px;
  padding: 10px;
}

.second-row {
  display: flex;
  gap: 5px;
}

.slot {
  background: #111;
  flex: 1;
  flex-basis: 80px;
  height: 80px;
}

.item {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 40px;
  user-select: none;
  -webkit-user-select: none;
  position: relative;
  background: #508db9;
}

[data-swapy-highlighted] {
  background: #444;
}

.handle {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.add {
  position: fixed;
  top: 10px;
  left: 10px;
  border-radius: 5px;
  background: white;
  width: 100px;
  padding: 5px 0;
  cursor: pointer;
}

.delete {
  color: #222;
  background: rgba(255, 255, 255, 0.5);
  width: 30px;
  height: 30px;
  font-size: 18px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
