* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 150vh;
}

body {
  background: #02040f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-size: 50px;
}

#app {
  width: 100%;
}

.container {
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
}

.slot {
  border-radius: 10px;
  height: 100px;
}

.slot[data-swapy-highlighted] {
  background: rgba(255, 255, 255, 0.2);
}

.items {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #4338ca;
  padding: 20px 0;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

/* .item-2 {
  height: 50px;
} */

.item:has(.handle) {
  position: relative;
}

.handle {
  cursor: grab;
  width: 24px;
  height: 24px;
  background-image: url(./handle.svg);
  opacity: 0.5;
  position: absolute;
  top: 14px;
  left: 10px;
}

.item.item--add {
  background: transparent;
  border: 4px solid #4338ca;
  cursor: pointer;
  user-select: none;
}

.item.item--add:hover {
  background: #4338cacc;
}

.delete {
  background-color: hsl(244.5, 57.9%, 45.6%);
  position: absolute;
  right: 20px;
  top: 10px;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  background-image: url(./delete.svg);
  background-size: 22px 22px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.delete:hover {
  background-color: hsl(244.5, 57.9%, 40.6%);
}
