* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 150vh;
}

#app {
  width: 100%;
}

body {
  background: #02040f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-size: 50px;
}

.container {
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
}

.slot.top {
  height: 200px;
}

.middle {
  height: 250px;
  display: flex;
  gap: 10px;
}

.slot.middle-left {
  height: 100%;
  flex: 1;
}

.slot.middle-right {
  height: 100%;
  flex: 2;
}

.slot.bottom {
  height: 150px;
}

.slot {
  border-radius: 10px;
}

.slot[data-swapy-highlighted] {
  background: rgba(255, 255, 255, 0.2);
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.item-a {
  background: #10b981;
}

.item-b {
  background: #be123c;
}

.item-c {
  background: #4338ca;
}

.item-d {
  background: #7e22ce;
}

.item:has(.handle) {
  position: relative;
}

.handle {
  cursor: grab;
  width: 24px;
  height: 24px;
  background-image: url(./handle.svg);
  opacity: 0.5;
  position: absolute;
  top: 14px;
  left: 10px;
}

/* .item[data-swapy-dragging] {
  opacity: 0.8;
} */
